.product-img i.fa {
    font-size: 46px;
    color: #dd4b39;
}

.with-margin-top-bottom{
    margin-top:15px;
    margin-bottom:15px;
}

.errors{
    padding-left: 26px;
}

.alert h5{
    font-size: 15px;
    margin: 0;
}

hr{
   border: 1px solid #e8e8f9;
}